<?xml version="1.0"?>
<launch>
  <!-- Volume Estimation Pipeline with Service Control -->
  
  <!-- Launch the workflow control node -->
  <node name="workflow_control_node" pkg="ros_volume_estimation" type="workflow_control_node" output="screen"/>
  
  <!-- Set parameters for all nodes (they will be used when nodes are started via service) -->
  <!-- Euclidean Clustering params removed; clustering node no longer used -->
  
  <!-- Transform node parameters: read transformation matrix from file -->
  <param name="transform_node/matrix_file" value="$(find ros_volume_estimation)/../../../T_level_yaw.txt"/>
  <param name="transform_node/use_inverse" value="false"/>
  <param name="transform_node/show_info" value="true"/>
  
  <!-- Crop filter node parameters: read corners from file -->
  <param name="crop_filter_node/corners_file" value="$(find ros_volume_estimation)/../../../obb_corners.txt"/>
  
  <param name="volume_estimator_node/grid_resolution_x" value="0.1"/>
  <param name="volume_estimator_node/grid_resolution_y" value="0.1"/>
  <param name="volume_estimator_node/height_method" value="mean"/>
  <param name="volume_estimator_node/interpolate_empty_cells" value="false"/>
  <param name="volume_estimator_node/max_interpolation_passes" value="1000"/>
  
  <!-- Service usage information -->
  <!-- 
  Service Control Available:
  Start Processing: rosservice call /volume_estimation/toggle_processing "enabled: true"
  Stop Processing: rosservice call /volume_estimation/toggle_processing "enabled: false"
  Check Status: rostopic echo /volume_estimation/status -n 1
  -->
</launch>